.text-blue {
  color: #2196f3;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.margin-left-10 {
  margin-left: 10px;
}
.margin-right-10 {
  margin-right: 10px;
}

.stop-scroll {
  overflow: hidden;
}

.hide {
  display: none!important;
}