.icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  border: solid 2px #ffffff;
  font-size: 14px;
  color: #ffffff;

  &--rounded {
    border-radius: 50%;
  }
}