@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}
@include tablet {
  html {
    font-size: 120%;
  }
}
@include desktop {
  html {
    font-size: 125%;
  }
}
@include large {
  html {
    font-size: 130%;
  }
}